@import "tailwindcss";
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
  background-color: var(--color-color-bg);
}

:root {
  --radius: 0.625rem;
  --foreground: oklch(1 0 0);
  --background: #fafaf9;
  --hover-orange: rgb(255, 107, 53, 0.1);
  --orage: #ff6b35;
  --card-dark: #2e3532;
  --hover-orange-button: #c74d21;
  --active-button: rgb(255, 255, 255, 0.9);
}

@theme {
  --color-color-bg: var(--background);
  --color-white-fg: var(--foreground);
  --color-hover-orange: var(--hover-orange);
  --color-orange: var(--orage);
  --color-card-dark: var(--card-dark);
  --color-hover-orange-button: var(--hover-orange-button);
  --color-active-button: var(--active-button);
}
