@import "tailwindcss";
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  margin: 0px;
}

:root {
  --radius: 0.625rem;
  --foreground: oklch(1 0 0);
  --background: #fafaf9;
  --hover-orange: rgb(255, 107, 53, 0.1);
  --orage: #ff6b35;
}

@theme {
  --color-color-bg: var(--background);
  --color-white-fg: var(--foreground);
  --color-hover-orange: var(--hover-orange);
  --color-orange: var(--orage);
}
